:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color: #242424;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

img {
  margin: 0;
  padding: 0;
  width: 30%;
}

#title {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 95px;
  line-height: 1.1;
}

.inputs {
  background: none;
  border: none;
  border-bottom: 1.5px solid white;
  font-size: 1.5rem;
  outline: none;
  padding-bottom: 5px;
  transition: 0.3s linear;
  cursor: pointer;
}

.inputs:-webkit-autofill {
  background: none;
  border: none;
  border-bottom: 1.5px solid white;
  font-size: 1.5rem;
  outline: none;
  padding-bottom: 5px;
  transition: 0.3s linear;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 50px #242424 inset; /* Change the color to your own background color */
}

.inputs:focus {
  color: white;
  border-bottom: 3.2px solid rgba(241, 241, 241, 0.866);
  background-color: transparent;
}

::-webkit-input-placeholder {
  font-family: inherit;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

#email {
  margin: 1rem;
}

#username {
  margin: 1rem;
}

#form {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

#next {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-family: inherit;
  width: 6rem;
  height: 3rem;
  align-self: center;
  background-color: #454545;
  outline: none;
}

#next-click {
  cursor: not-allowed;
  background-color: #242424;
}

.inputs-clicked {
  cursor: not-allowed;
}

@media screen and (max-width: 425px) {
  html {
    height: webkit-fill-available;
  }

  body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
  }

  img {
    width: 80%;
  }

  #title {
    font-size: 300%;
  }

  .inputs {
    font-size: 1.2rem;
    width: 75%;
    margin: 1rem;
    padding: 0.5rem;
  }

  #email {
    margin: 0.5rem;
  }

  #username {
    margin: 0.5rem;
  }

  #form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #next {
    margin-top: 1rem;
  }
}
